.intro {
  float: right;
}


blockquote {
  float: right;
}

p .bio {
  float: right;
}

img .profile {
  float: right;

}

h1 {
  float: right;
}

img {
  width: 300px;
  height: 300px;
}

img.dolores {
  float: right;
}
